.logo{
    height: 90px;
}

.gambar{
    height: 180px;
}

.navbar-nav li{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 600;
}

footer{
    background-color: #3f51b5;
    text-align: center;
    color: white;
}

.copyright{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center p-3;
}

.h6{
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

a{
    text-decoration: none;
}
